@import "tailwindcss";

:root {
  --bg: #090b0f;
  --s1: #111318;
  --s2: #181b22;
  --s3: #1e2229;
  --br: rgba(255, 255, 255, .055);
  --br2: rgba(255, 255, 255, .1);
  --ac: #e8a843;
  --acd: rgba(232, 168, 67, .14);
  --co: #2dd4a0;
  --cod: rgba(45, 212, 160, .12);
  --fa: #ff6b6b;
  --fad: rgba(255, 107, 107, .12);
  --tx: #e2ddd4;
  --tx2: rgba(226, 221, 212, .55);
  --tx3: rgba(226, 221, 212, .25);
  --ff: var(--font-body);
  --fd: var(--font-serif);
  --fm: var(--font-mono);
  --r: 16px;
  --rs: 10px
}

body {
  background: var(--bg);
  color: var(--tx);
  font-family: var(--ff);
}